@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a, a:hover {
  color: inherit;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 0 0;
}
header .navClass ul.listClass {
  display: flex;
  gap: 2rem;
}
header .navClass ul.listClass li a {
  font-family: "Anton", sans-serif;
  color: #E73A3A;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0px 0px 0px 4px rgb(231, 58, 58);
  -moz-box-shadow: inset 0px 0px 0px 4px rgb(231, 58, 58);
  box-shadow: inset 0px 0px 0px 4px rgb(231, 58, 58);
  transition: 0.1s ease-in-out;
  background-color: #fff;
}
header .navClass ul.listClass li a:hover {
  -webkit-box-shadow: inset 0px 0px 0px 6px rgb(231, 58, 58);
  -moz-box-shadow: inset 0px 0px 0px 6px rgb(231, 58, 58);
  box-shadow: inset 0px 0px 0px 6px rgb(231, 58, 58);
}
header a .custom-logo {
  height: 112px;
  width: 250px;
}

body footer {
  margin: 5rem 0 0 0;
  padding: 3rem 0;
  background: #171717;
}
body footer p {
  color: #FDF2E1;
}

.articleContent {
  width: 80%;
  margin: 6rem 0 0 0;
  padding: 6rem 4rem;
  background: #fff;
}
.articleContent h1 {
  font-size: 3rem;
  line-height: 120%;
  margin-bottom: 2rem;
  color: #171717;
}
.articleContent h2 {
  margin: 2rem 0 1rem 0;
}
.articleContent h3 {
  margin: 1rem 0 0.5rem 0;
}
.articleContent .article-title-image {
  gap: 3%;
  display: flex;
  flex-direction: column;
}
.articleContent .article-title-image .article-image-container {
  position: relative;
  height: 350px;
  overflow: hidden;
}
.articleContent .article-title-image .article-image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%; /* L'image doit au moins avoir la largeur du conteneur */
  min-height: 100%; /* L'image doit au moins avoir la hauteur du conteneur */
  width: auto;
  height: auto;
  object-fit: cover; /* Cette propriété garantit que l'image couvre le conteneur */
}
.articleContent .article-title-image .article-title-right .article-card-categories {
  margin: 0 0 2rem 0;
}
.articleContent .article-text {
  margin-top: 2rem;
}

.recette-content {
  margin: 6rem 0 0 0;
}
.recette-content h1 {
  font-size: 4rem;
  line-height: 120%;
}
.recette-content .recette-head {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.recette-content .recette-head .recette-infos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
}
.recette-content .recette-head .recette-infos p.recette-date {
  text-decoration: underline;
}
.recette-content .recette-head .recette-infos .recipe-taxonomy {
  font-family: "Anton", sans-serif;
  padding: 0.5rem 1rem;
  background: #E73A3A;
  color: #fff;
  font-weight: bold;
  width: fit-content;
}
.recette-content .recette-head .recette-image-container {
  position: relative;
  width: 60%;
  height: 400px;
  overflow: hidden;
  border: 1rem solid #fff;
}
.recette-content .recette-head .recette-image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}
.recette-content .recipe-container {
  margin-top: 6rem;
  display: flex;
  gap: 4rem;
}
.recette-content .recipe-container .ingredients {
  width: 40%;
}
.recette-content .recipe-container .ingredients .title-ingredients {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.recette-content .recipe-container .ingredients .list-ingredients .nom-ingredient {
  margin-top: 2rem;
}
.recette-content .recipe-container .preparation {
  width: 60%;
}
.recette-content .recipe-container .preparation .title-preparation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.recette-content .recipe-container .preparation .list-preparation .content-etape .numero-etape {
  font-weight: bold;
  margin-top: 2rem;
}
.recette-content .recipe-container .preparation .list-preparation .content-etape .texte-etape {
  margin-top: 1rem;
  padding: 1rem;
  border: 2px solid;
  background: #fff;
}

.subtitle-recette {
  font-size: 1.5rem;
  font-weight: bold;
}

.line {
  height: 2px;
  width: 100%;
  background: #171717;
}

.pageClass {
  margin: 5rem 0 0 0;
}

html {
  font-family: "DM Mono", monospace;
}

body {
  background: #FDF1DF;
}
body .custom-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body p {
  color: #171717;
  font-size: 16px;
  line-height: 160%;
  font-weight: 300;
}

.pageClass {
  margin: 5rem 0 0 0;
}
.pageClass h1 {
  width: 60%;
}

.btn-primary {
  position: relative;
  padding: 1rem 2rem;
  background-color: #171717;
  color: #fff;
  width: fit-content;
  font-family: "Anton", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  transition: opacity 0.1s ease-in-out;
}
.btn-primary:hover {
  color: #fff;
  text-decoration: none;
}
.btn-primary::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 6px;
  background: #fff;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.btn-primary:hover::after {
  width: 100%;
}

.btn-secondary {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 3px #171717 solid;
  font-family: "Anton", sans-serif;
  background: #fff;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
  line-height: 4rem;
  font-family: "Anton", sans-serif;
}

.h1-page {
  font-size: 4rem;
  line-height: 120%;
  font-family: "Anton", sans-serif;
  color: #E73A3A;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Anton", sans-serif;
  color: #171717;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

.container-main {
  width: 80%;
  margin: 0 auto;
}

.hero {
  border-radius: 2rem;
  box-sizing: border-box;
  display: flex;
  gap: 10%;
  margin: 5rem 0 0 0;
  justify-content: space-between;
}
.hero__content {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero__content_title {
  color: #E73A3A;
  line-height: 120%;
  font-weight: 400;
  position: relative;
}
.hero__content_title span {
  position: absolute;
  bottom: 10px;
  left: 2px;
  color: #fff;
  padding: 4px;
  background: #01BAEF;
  font-size: 1rem;
  font-family: "DM Mono", monospace;
  line-height: normal;
  text-transform: uppercase;
  transition: 0.3s ease-out;
}
.hero__content_title:hover span {
  transform: rotate(-5deg);
}
.hero__image {
  width: 45%;
  height: auto;
}
.hero__image_container {
  height: 100%;
  width: 100%;
  position: relative;
}
.hero__image_container_image {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 100;
  border: 1rem solid transparent;
}
.hero__image_container_image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%; /* La largeur minimale de l'image est de 100% du conteneur */
  min-height: 100%; /* La hauteur minimale de l'image est de 100% du conteneur */
  max-width: none; /* Permet à l'image de se redimensionner librement */
  max-height: none; /* Permet à l'image de se redimensionner librement */
  z-index: 100;
}
.hero__image_container .img-nappe {
  background-image: url(/images/chouc-hero.webp);
  background-size: cover;
  width: 360px;
  height: 360px;
  position: absolute;
  bottom: -10%;
  left: 5%;
  transform: rotate(-45deg);
  z-index: 80;
}
.hero__image_container_whitebg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%; /* La largeur minimale de l'image est de 100% du conteneur */
  min-height: 100%; /* La hauteur minimale de l'image est de 100% du conteneur */
  max-width: none; /* Permet à l'image de se redimensionner librement */
  max-height: none; /* Permet à l'image de se redimensionner librement */
  z-index: 50;
  background: #fff;
}

#about {
  padding: 4rem 0;
  background-color: #171717;
}
#about .about-container {
  gap: 2rem;
  display: flex;
  color: #F2EEE7;
}
#about .about-container p {
  color: #F2EEE7;
}
#about .about-container img {
  border-radius: 1rem;
  width: 60%;
  border: 5px #E73A3A solid;
}
#about .about-container .about-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#about .about-container .about-content .content-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#articles {
  margin: 15rem 0 0 0;
}
#articles .recent-posts {
  display: flex;
  gap: 2%;
}
#articles .recent-posts article {
  background: #fff;
  width: 25%;
  box-sizing: border-box;
  padding: 2rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#articles .recent-posts article a {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#articles .recent-posts article a .thumbnailContainer {
  position: relative;
  width: 100%;
  height: 160px;
  overflow: hidden;
}
#articles .recent-posts article a .thumbnailContainer img.thumbnailArticle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%; /* L'image doit au moins avoir la largeur du conteneur */
  min-height: 100%; /* L'image doit au moins avoir la hauteur du conteneur */
  width: auto;
  height: auto;
  object-fit: cover; /* Cette propriété garantit que l'image couvre le conteneur */
}
#articles .recent-posts article a .post-meta .post-date {
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  border: 1px #171717 solid;
}
#articles .blog-entete {
  display: flex;
  justify-content: space-between;
  margin: 0 0 2rem 0;
  align-items: center;
}

.article-card-category {
  font-family: "Anton", sans-serif;
  padding: 0.5rem 1rem;
  color: #fff;
  width: fit-content;
  background: #E73A3A;
}

/*# sourceMappingURL=style.css.map */
