.recette-content{
    .recette-head {
        display: flex;
        align-items: center;
        gap: 4rem;
        .recette-infos {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 40%;
            p.recette-date {
                text-decoration: underline;
            }
            .recipe-taxonomy {
                padding: 0.5rem 1rem;
                border-radius: 0.25rem;
                background: $rouge;
                color: #fff;
                font-weight: bold;
                width: fit-content;
            }
        }
        .recette-image-container {
            border-radius: 1rem;
            position: relative;
            width: 60%;
            height: 400px;
            overflow: hidden;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                object-fit: cover;
            }
        }
    }
    .recipe-container {
        margin-top: 2rem;
        display: flex;
        gap: 4rem;
        .ingredients {
            width: 40%;
            .title-ingredients {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
            .list-ingredients {
                .nom-ingredient {
                    margin-top: 2rem;
                }
            }
        }
        .preparation {
            width: 60%;
            .title-preparation {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
            .list-preparation {
                .content-etape {
                    .numero-etape {
                        font-weight: bold;
                        margin-top: 2rem;
                    }
                    .texte-etape {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}

.subtitle-recette {
    font-size: 1.5rem;
    font-weight: bold;
}

.line {
    height: 1px;
    width: 100%;
    background: $noir;
}