// Variables de typographie
$ff-main: "DM Sans", sans-serif;
$h1-fs: 4rem;
$h2-fs: 2rem;
$h3-fs: 1.3rem;
$paragraph-line-height: 1.6;


// Variables de couleurs
$beige: #F2EEE7;
$rouge: #FF6B6B;
$vert: #1DD1A1;
$jaune: #FECA57;
$bleu: #48DBFB;
$noir: #212121;
