// Variables de typographie
$ff-main: "Anton", sans-serif;
$ff-secondary: "Playfair Display", serif;
$ff-label: "Poppins", sans-serif;
$ff-text: "DM Mono", monospace;



$h1-fs: 6rem;
$h1-page : 4rem;
$h2-fs: 2rem;
$h3-fs: 1rem;
$paragraph-line-height: 1.6;


// Variables de couleurs
$beige: #F2EEE7;
$rouge: #E73A3A;
$vert: #6CAE75;
$violet: #5C2751;
$jaune: #FECA57;
$bleu: #01BAEF;
$bleu-roi: #0A2463;
$noir: #171717;

